.header-wrapper {
    width: 100%;
    height: 100vh;

    overflow: hidden;
}


.hide {
    display: none
}


.header-container, .hide-header {
    width: 30%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #cccccc80;

    position: relative;

    animation: fadeinLeft 300ms linear;   

    .nav-wrapper {
        width: 50%;
        height: 100%;

        .menu-wrapper {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3em;
            align-items: center; 

            list-style: none;

            .menu-item {
                font-size: 1.5em;

                cursor: pointer;
            }
        }
    }

    .button-mobile {
        width: 10%;
        height: 10%;

        border: 1px solid red;
        border-radius: .5em;

        position: absolute;
        top: 5%;
        right: 5%;
        
    }
}

.hide-header {
    animation: fadeOut 300ms linear forwards;
}

.menu-icon {
    position: absolute;
    top: 5%;
    right: 5%;
    
    font-size: 4em;

    cursor: pointer;

    transition: all 300ms ease;

    &:hover {
        rotate: 0.05turn;
        scale: .8;
    }
}


@keyframes fadeOut {
    0% {
        translate: 0% 0%;
        opacity: 1;
    }

    50% {
        transalte: -50% 0%;
        opacity: .5;
    }

    100% {
        translate: -100% 0%;
        opacity: 0;
    }
}

@keyframes fadeinLeft {
    0% {
        translate: -100% 0%;
        opacity: 0;
    }

    50% {
        translate: -50% 0%;
        opacity: .5;
    }

    100% {
        translate: 0% 0%;
        opacity: 1;
    }

    
}

