@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&display=swap');*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;

  background: #46b3be;
}

::-webkit-scrollbar-thumb {
  background: #f8b396;
}

::-webkit-scrollbar-thumb:hover {
  background: lightblue;
}